*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor: rgb(88, 14, 14);
    --rosa: pink;
}

body{
    height: 100dvh;
    background-color: var(--cor);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 100dvw;
    height: 500px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



input{
    height: 80px;
    width: 1500px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

button{
    width: 800px;
    height: 100px;
    padding: 10px;
    margin: 60px;
    font-size: 80px;
    border: 5px solid black;
}

#verdeC{
    background-color: lightgreen;

}

#vermelhoC{
    background-color: rgb(240, 142, 142);
}